<!DOCTYPE html>
<html th:replace="student/studentbase::layout(~{::section})">

<head>

</head>

<body>
	<section>
		<div th:if="${message}">
			<p th:text="${message}" class="alert alert-success alert-dismissible"></p>
		</div>
		<div class="row g-3">
			<!-- Test Card -->
			<div class="col-md-6 mb-4">
				<a th:href="@{'/student/starttest/' + 1}" style="text-decoration: none;">
				<div class="card shadow-sm" style="border-radius: 10px;">
					<div class="card-body" style="padding: 20px;">
						<div class="d-flex justify-content-between">
							<span class="badge bg-light text-dark border">FROZEN</span>
							<small class="text-muted">CREATED: 2025-04-01</small>
						</div>
						<h5 class="mt-2">Mock Test 1</h5>
						<p class="text-muted">(no description)</p>
						<div class="d-flex justify-content-between align-items-center">
							<small class="text-muted">- % avg. score | Results (0)</small>
							<span class="badge bg-light text-muted">UNCATEGORIZED</span>
						</div>
					</div>
				</div>
				</a>
			</div>

			<!-- Test Card -->
			<div class="col-md-6 mb-4">
				<a th:href="@{'/student/starttest/' + 2}" style="text-decoration: none;">
				<div class="card shadow-sm" style="border-radius: 10px;">
					<div class="card-body" style="padding: 20px;">
						<div class="d-flex justify-content-between">
							<span class="badge bg-light text-dark border">FROZEN</span>
							<small class="text-muted">CREATED: 2025-04-01</small>
						</div>
						<h5 class="mt-2">Mock Test 2</h5>
						<p class="text-muted">(no description)</p>
						<div class="d-flex justify-content-between align-items-center">
							<small class="text-muted">- % avg. score | Results (0)</small>
							<span class="badge bg-light text-muted">UNCATEGORIZED</span>
						</div>
					</div>
				</div>
				</a>
			</div>

			<!-- Test Card -->
			<div class="col-md-6 mb-4">
				<a th:href="@{'/student/starttest/' + 3}" style="text-decoration: none;">
					<div class="card shadow-sm" style="border-radius: 10px;">
						<div class="card-body" style="padding: 20px;">
							<div class="d-flex justify-content-between">
								<span class="badge bg-light text-dark border">FROZEN</span>
								<small class="text-muted">CREATED: 2025-04-01</small>
							</div>
							<h5 class="mt-2">Mock Test 3</h5>
							<p class="text-muted">(no description)</p>
							<div class="d-flex justify-content-between align-items-center">
								<small class="text-muted">- % avg. score | Results (0)</small>
								<span class="badge bg-light text-muted">UNCATEGORIZED</span>
							</div>
						</div>
					</div>
				</a>
			</div>

			<!-- Test Card -->
			<div class="col-md-6 mb-4">
				<a th:href="@{'/student/starttest/' + 4}" style="text-decoration: none;">
					<div class="card shadow-sm" style="border-radius: 10px;">
						<div class="card-body" style="padding: 20px;">
							<div class="d-flex justify-content-between">
								<span class="badge bg-light text-dark border">FROZEN</span>
								<small class="text-muted">CREATED: 2025-04-01</small>
							</div>
							<h5 class="mt-2">Mock Test 4</h5>
							<p class="text-muted">(no description)</p>
							<div class="d-flex justify-content-between align-items-center">
								<small class="text-muted">- % avg. score | Results (0)</small>
								<span class="badge bg-light text-muted">UNCATEGORIZED</span>
							</div>
						</div>
					</div>
				</a>
			</div>

			<!-- Test Card -->
			<div class="col-md-6 mb-4">
				<a th:href="@{'/student/starttest/' + 5}" style="text-decoration: none;">
					<div class="card shadow-sm" style="border-radius: 10px;">
						<div class="card-body" style="padding: 20px;">
							<div class="d-flex justify-content-between">
								<span class="badge bg-light text-dark border">FROZEN</span>
								<small class="text-muted">CREATED: 2025-04-01</small>
							</div>
							<h5 class="mt-2">Mock Test 5</h5>
							<p class="text-muted">(no description)</p>
							<div class="d-flex justify-content-between align-items-center">
								<small class="text-muted">51.7% avg. score | Results (30)</small>
								<span class="badge bg-light text-muted">UNCATEGORIZED</span>
							</div>
						</div>
					</div>
				</a>
			</div>

		</div>
	</section>
</body>

</html>