<!doctype html>
<html lang="en" th:replace="student/studentbase::layout(~{::section})">

<head>

</head>

<body>
	<section>
		<div class="row">
			<!--marquee-->
			<div class="col-sm-12">
				<marquee>
					<p>For any query reach us through our helpline number <span style="color: orangered;"><i
								class="fa-solid fa-phone"></i>&nbsp;+91 0000000000</span> or visit us at <span
							style="color: orangered;"><i
								class="fa-solid fa-envelope"></i>&nbsp;nouegyanhelp@gmail.com</span></p>
				</marquee>
			</div>
			<!--marquee-->
			<!-- First Video Card -->
			<div class="col-md-6">
				<div class="card video-card">
					<h5 class="text-danger text-center p-1 mt-2" style="font-weight: bolder; color: orangered;">Watch the
						Video</h5>
					<iframe width="570" height="315" class="mx-auto p-3"
						src="https://www.youtube.com/embed/6n-MkU_QuCg?si=SVhj-BjEMu5Fe_cn" title="YouTube video player"
						frameborder="0"
						allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
						referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

				</div>
			</div>

			<!-- Second Video Card -->
			<div class="col-md-6">
				<div class="card video-card">
					<h5 class="text-danger text-center p-1 mt-2" style="font-weight: bolder; color: orangered;">Watch the
						Video</h5>
					<iframe width="570" height="315" class="mx-auto p-3"
						src="https://www.youtube.com/embed/_gJ8PE-YK-8?si=6eesvpPRgaWmUzYu" title="YouTube video player"
						frameborder="0"
						allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
						referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
				</div>
			</div>

			<!-- third Video Card -->
			<div class="col-md-6 mt-5 mb-5">
				<div class="card video-card">
					<h5 class="text-danger text-center p-1 mt-2" style="font-weight: bolder; color: orangered;">Watch the
						Video</h5>
					<iframe width="560" height="315" class="mx-auto p-3" src="https://www.youtube.com/embed/PPDgi17D5NI?si=3Bf88fMwZ_bpH-G5"
						title="YouTube video player" frameborder="0"
						allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
						referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
				</div>
			</div>

			<!-- fourth Video Card -->
			<div class="col-md-6 mt-5 mb-5">
				<div class="card video-card">
					<h5 class="text-danger text-center p-1 mt-2" style="font-weight: bolder; color: orangered;">Watch the
						Video</h5>
					<iframe width="560" height="315" class="mx-auto p-3" src="https://www.youtube.com/embed/6xjHkYOyuuM?si=ebkFuHTs5iC_2gQf"
						title="YouTube video player" frameborder="0"
						allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
						referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</section>
</body>

</html>