<html th:replace="student/studentbase::layout(~{::section})">
<head>
    <title>Student Results</title>
</head>
<body>
    <section>
        <div th:if="${msg}">
            <p th:text="${msg}" class="alert alert-success alert-dismissible"></p>
        </div>
        <div class="row" style="overflow: auto;">
            <h2 style="text-align: center; color: orangered;">Results</h2>
            <div th:if="${results}">
                <table class="table table-bordered">
                    <thead class="table-danger">
                        <tr>
                            <th>Test Number</th>
                            <th>Name</th>
                            <th>Email Address</th>
                            <th>Contact No.</th>
                            <th>Course</th>
                            <th>Total Marks</th>
                            <th>Obtained Marks</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="result : ${results}">
                            <td th:text="${result.testNumber}"></td>
                            <td th:text="${result.name}"></td>
                            <td th:text="${result.emailaddress}"></td>
                            <td th:text="${result.contactno}"></td>
                            <td th:text="${result.course}"></td>
                            <td th:text="${result.totalmarks}"></td>
                            <td th:text="${result.getmarks}"></td>
                            <td th:text="${result.status}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div th:if="${error}" style="color: red; text-align: center;">
                <p th:text="${error}"></p>
            </div>
        </div>
    </section>
</body>
</html>
