<html th:replace="admin/adminbase::layout(~{::section})">	
<head>
    		
</head>
	<body>
		<section>
			<h2 style="text-align: center; color: orangered;">Change Password</h2>
			<div th:if="${msg}">
				<p th:text="${msg}" class="alert alert-success alert-dismissible"></p>
			</div>
			<form class="form-group" method="post">
				<table class="table table-bordered" style="margin: auto; width: 60%;">
					<tr>
						<td>Enter Old Password</td>
						<td>
							<input type="password" name="oldpassword" class="form-control" required/>
						</td>
					</tr>
					<tr>
						<td>Enter New Password</td>
						<td>
							<input type="password" name="newpassword" class="form-control" required/>
						</td>
					</tr>
					<tr>
						<td>Confirm Password</td>
						<td>
							<input type="password" name="confirmpassword" class="form-control" required/>
						</td>
					</tr>
				</table>
				<div class="d-grid gap-2 col-2 mx-auto mt-3">
					<button type="submit" class="btn btn-success" style="margin: auto;">Change Password</button>
				</div>
			</form>
		</section>
	</body>
</html>