<html th:replace="admin/adminbase::layout(~{::section})">
	<head>
		
	</head>
	<body>
		<section>
			<div th:if="${msg}">
				<p th:text="${msg}" class="alert alert-success alert-dismissible"></p>
			</div>
			<div class="row" style="overflow: auto;">
				<h2 style="text-align: center; color: orangered;">Manage Students</h2>
					<table class="table table-bordered">
						<thead class="table-danger">
							<tr>
								<th>Name</th>
								<th>Email Address</th>
								<th>Contact No.</th>
								<th>Course</th>
								<th>Registration Date</th>
								<th>Delete</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="s:${slist}">
								<td th:text="${s.name}"></td>
								<td th:text="${s.emailaddress}"></td>
								<td th:text="${s.contactno}"></td>
								<td th:text="${s.course}"></td>
								<td th:text="${s.regdate}"></td>
								<td>
									<a th:href="@{viewstudent/delete(email=${s.emailaddress})}">
										<button type="button" class="btn btn-danger" onclick="return confirm('Are you sure want to delete?')">Delete</button>
									</a>
								</td>
							</tr>
						</tbody>
					</table>
			</div>
		</section>
	</body>
</html>