<html lang="en" th:replace="base::layout(~{::section})">

<head>

</head>

<body>
	<section>
		<div class="row">
			<div class="col-sm-12 p-0 border mt-1">
				<img src="images/unnamed.jpg" class="w-100 silder" height="500px" alt="">
			</div>
		</div>

		<div class="container mt-5" style="max-width: 96%">
			<div class="row">
				<div class="col-md-10 content">
					<div class="title-head centered">
						<h2 style="color: #ef662f; font-weight: 600;" class="text-center"><br> About Softpro</h2><br/>
					</div>
					<p style="text-align:justify;font-size:17px; color: black;">
						Softpro India Computer Technologies (P) Ltd. is a leading IT firm and the software development division of Softpro Group of Companies with its headquarter located in the capital city of Uttar Pradesh, Lucknow. Softpro India was established in 2004 by technocrats from IIT-Kanpur and IET Lucknow. Softpro Group of Companies is a cluster of companies working in multiple domains like Software Development, IT Trainings, Research and Designing. The Founder and Managing Director of Softpro Group of Companies is Er. Ajay Chaudhary with over 25 years of experience. Softpro India is the fastest growing IT company with the largest learning center of the region having experienced consultants of 15+ years and industry experts. <br/>
						<br/>
						Softpro Group of Companies compromises of Softpro Learning Center (Training & Internship division – 2008), Softpro Innovations (R&D division – 2014) and Softpro Foods (Agro Production division – 2018). Softpro India has global presence with its Head Office and Training Center located in Lucknow, International Unit Office located in Malawi, Africa and Virtual Office located in Kuala Lumpur, Malaysia. Softpro India has successfully delivered Government Projects like the visionary project of Government of Uttar Pradesh – URISE. Softpro India also has signed MoU with Department of Technical Education, Government of Uttar Pradesh making it the authorised Training & Development partners to impart and technically upskill all the engineering students of polytechnics (government, private & aided) across Uttar Pradesh. <br/>
						<br/>
						Softpro India’s recent achievements include the MoU signing with Dr. A. P. J. Abdul Kalam Technical University, Uttar Pradesh. Technologies are transcending boundaries and their volatility is putting stringent demands on the time and mind-space of techno-professionals. At SPG, we update ourselves with technologies even before they become norms and master them long before they become redundant. That's why we are on the roster of clients from across the continents. <br/>
						<br/>
						Softpro India offers training for all the ranches of engineering (Computer Science, Information Technology, Electronics, Electrical, Civil, Mechanical) for updated and trending technologies. Softpro India also has several online and offline trainings like Summer Training, Industrial Training, Vocational Training, Apprenticeship Program, Employment Training Program and Online Courses. The learning material and other resources are available on Softpro India’s Learning Management System (LMS) – “Polyprep – Knowledge @ Your Doorstep” and mobile application – “e-Study Zone”. <br/>
						<br/>
						Come to think of it, we have engineered ourselves to be at the very forefront in Web based technology. Our core competencies span a spectrum of web-intensive services that range from website designing to robust backend management. <br/>
						<br/>
					</p>
				</div>
			</div>
			</di>
	</section>
</body>

</html>