<!doctype html>
<html lang="en" th:replace="base::layout(~{::section})">

<head>
</head>

<body>
	<section>
		<h2 style="color: #ef662f; font-weight: 600;" class="text-center"><br>Contact Us</h2>
		<div th:if="${message}">
			<p th:text="${message}" class="alert alert-success alert-dismissible"></p>
		</div>

		<div class="row">
			<div class="col-md-6" style="display: grid; place-items: center;">
				<img src="images/quiz.png" height="520px" class="pw img-fluid">
			</div>
			<div class="col-md-6">
				<form class="form-group" th:object="${dto}" method="post">
					<div class="col-md-6 mx-auto mt-5">
						<label for="name" class="form-label">Name *</label>
						<input type="text" required class="form-control" th:field="${dto.name}" placeholder="Enter Name" />
					</div>
					<div class="col-md-6 mx-auto mt-4">
						<label for="gender" class="form-label">Gender *</label>
						<input type="radio" required class="form-check-input" Value="Male" th:field="${dto.gender}" /> Male
						<input type="radio" required class="form-check-input" Value="Female" th:field="${dto.gender}" /> Female					
					</div>
					<div class="col-md-6 mx-auto mt-3">
						<label for="number" class="form-label">Phone No. *</label>
						<input type="number" required class="form-control" th:field="${dto.contactno}" placeholder="Enter Contact No." />					
					</div>
					<div class="col-md-6 mx-auto mt-3">
						<label for="name" class="form-label">Email Address *</label>
						<input type="email" required class="form-control" th:field="${dto.emailaddress}" placeholder="Enter Email Adddress" />
					</div>
					<div class="col-md-6 mx-auto mt-3">
						<label for="name" class="form-label">Enquiry Text *</label>
						<textarea required class="form-control" th:field="${dto.enquirytext}"></textarea>
					</div>
					<div class="d-grid gap-2 col-2 mx-auto mt-3">
						<button class="btn btn-primary" type="submit"
						style="background-color: #ef662f; border-color: #ef662f;">Submit</button>
					</div>
				</form>
			</div>
		</div>
	</section>
</body>

</html>