<!doctype html>
<html lang="en" th:replace="base::layout(~{::section})">

<head>
	<!----------------------------------------Css link--------------------------------------->
	<link href="css/style.css" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.3/dist/css/splide.min.css">
	<!----------------------------------------Css link--------------------------------------->

	<!---------------------------------------- JS links ------------------------------------>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.3/dist/js/splide.min.js"></script>
	<script src="js/script.js"></script>
	<!---------------------------------------- JS links ------------------------------------>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />

</head>

<body>
	<section>
		<div class="row">
			<!-----------------------------------------header start----------------------------------------------->
			<div class="container-fluid">
				<div class="row p-3 p-0 border"
					style="background-image: url('https://www.tantiauniversity.com/assets/images/upcoming.jpg'); ">

					<div class="col-sm-12 text-center">
						<img src="images/University_logo.png" class="unilogo" height="200px" alt="">
					</div>
					<div class="col-sm-12 text-center">
						<h4 class="mt-3 unitxt" style="font-size: 40px; font-weight: 900;">
							FREE SUMMER <span style="color:#ef662f;">INTERNSHIP 2024</span>
						</h4>
						<h6 class="mt-2 fw-bold unitxt1" style="color: #ef662f; font-size:25px;">
							ORGANIZED BY DR. A. P. J. ABDUL KALAM
							TECHNICAL UNIVERSITY, LUCKNOW
						</h6>
						<p class="mt-2 fw-bold unitxt2" style="color: black; font-size: 19px;">
							(IN ASSOCIATION WITH SOFTPRO INDIA
							COMPUTER TECHNOLOGIES (P) LTD)
						</p>
					</div>

				</div>

			</div>
			<!-----------------------------------------header ends----------------------------------------------->

			<!---------------------------------------Content Section------------------------------------------------->
			<!-- main Section start -->
			<div class="container mt-5" style="max-width: 92%">
				<div class="row">
					<div class="col-md-10 content">
						<div class="title-head centered">
							<h2 style="color: #ef662f; font-weight: 600;" class="text-center"><br> Free Summer
								Internship</h2>
						</div>
						<h5><span style="font-weight: 700; color:#ef662f;">Program Details </span> </h5>
						<p style="text-align:justify;font-size:17px; color: black;">
							As we strive to enhance the professional
							development opportunities for the students of AKTU, Softpro India is offering Free Summer
							Internship Program in collaboration with Dr A P
							J Abdul Kalam Technical University under the MoU services signed with Softpro India &amp;
							AKTU,
							specifically tailored for the Ist, IInd &amp; IIIrd year students pursuing B.Tech in
							Computer Science,
							Information Technology and CS Allied Branches, Mechanical, Civil, Electrical, Electronics.
							This
							program aims to provide students with valuable industry exposure, hands-on experience in the
							latest
							technologies, and an avenue for practical application of theoretical knowledge.
						</p>
						<h5><span class="fw-bold" style="color: #ef662f;">Importance of Summer Internship </span> </h5>
						<p style="text-align: justify; font-size: 17px; color: black;">


							<b>1.&nbsp;Bridging the Gap between Academia and Industry :</b> Summer Internships provide
							students with
							an invaluable opportunity to bridge the gap between theoretical knowledge acquired in
							classrooms
							and
							practical application in real-world scenarios. By working on live projects and interacting
							with
							industry
							professionals, students gain insights into industry practices, trends, and challenges, thus
							preparing them
							for the transition from academia to the professional realm.

						</p>
						<p style="text-align:justify;font-size:17px; color: black; ">
							<b>2.&nbsp;Skill Enhancement and Professional Development:</b> Engaging in summer internship
							programs
							allows students to enhance their technical skills, communication abilities, teamwork, and
							problem
							solving capabilities. Exposure to cutting-edge technologies and hands-on experience in
							project
							execution equips students with the competencies required to thrive in today's dynamic and
							competitive
							job market.

						</p>
						<p style="text-align: justify; font-size: 17px; color: black; ">
							<b>3.&nbsp;Networking and Career Opportunities:</b> Summer internships offer students a
							platform
							to network
							with professionals, build meaningful connections, and explore potential career
							opportunities.
							Building
							a strong professional network early in their academic journey can significantly enhance
							students'
							prospects for securing employment post-graduation.

						</p>
					</div>
				</div>
			</div>
			<!-- main Section ends -->

			<!-- Steps start -->
			<div class="container-fluid"></div>
			<h3 class="mt-5 mb-5 text-center fw-bold" style="color:#ef662f;">
				Steps to Participate in the Test for the Free Summer Internship Program
			</h3>
			<section class="steps mb-5" style="margin: 20px auto;">

				<div class="container" style="max-width: 93%; padding: 50px;">

					<div class="row">
						<div class="col-md-12">
							<div class="main-timeline4">
								<div class="timeline">
									<a href="#" class="timeline-content" style="text-decoration:none">
										<span class="year"><img src="images/step1.jpg" class="img-fluid rounded-circle"
												style="height:100px; margin-top:-10px;"></span>
										<div class="inner-content">
											<h3 class="title">Step-1</h3>
											<p class="description">
												Register on the portal to apply for Free Internship.
											</p>
										</div>
									</a>
								</div>
								<div class="timeline">
									<a href="#" class="timeline-content" style="text-decoration:none">
										<span class="year"><img src="images/step2.webp" class="img-fluid"
												style="height:120px;"></span>
										<div class="inner-content" style="margin-left:70px;">
											<h3 class="title">Step-2</h3>
											<p class="description">
												Join the Online Pre Placement Talk about Summer Internship before
												attempting the test on the link shared on your registered Mail ID &amp;
												WhatsApp
											</p>
										</div>
									</a>
								</div>
								<div class="timeline">
									<a href="#" class="timeline-content" style="text-decoration:none">
										<span class="year"><img src="images/step3.png"
												style="height:75px; margin-top:-10px;" class="img-fluid"></span>
										<div class="inner-content">
											<h3 class="title">Step-3</h3>
											<p class="description">
												Check for the link of the MCQ Test on your registered Mail ID &amp;
												Watsapp.
											</p>
										</div>
									</a>
								</div>
								<div class="timeline">
									<a href="#" class="timeline-content" style="text-decoration:none">
										<span class="year"><img src="images/step4.webp"
												style="height:80px; margin-top:-10px;" class="img-fluid"></span>
										<div class="inner-content" style="margin-left:60px;">
											<h3 class="title">Step-4</h3>
											<p class="description" style="text-decoration:none;">
												Appear in the Online MCQ Test to grab the Free Internship Opportunity.
											</p>
										</div>
									</a>
								</div>
								<div class="timeline">
									<a href="#" class="timeline-content" style="text-decoration:none">
										<span class="year"><img src="images/step5.webp"
												style="height:80px; margin-top:-20px; margin-left:10px;"
												class="img-fluid"></span>
										<div class="inner-content">
											<h3 class="title">Step-5</h3>
											<p class="description">
												Do your Internship, complete your project &amp; get globally Certified.
											</p>
										</div>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
		<!-- Steps ends -->

		<!-- Slider start-->
		<div class="col-sm-12 mt-3 mb-3">
			<h5 class="text-center mb-4 fw-bold hws" style="color:#ef662f; font-size: 30px; font-weight: bolder;">
				WHO CAN PARTICIPATE ?
			</h5>
		</div>
		<div class="wrapper" style="max-width: 93%; padding: 50px;">
			<i id="left" class="fa-solid  fas fa-angle-left"></i>
			<ul class="carousel">
				<li class="card">
					<div class="img"><img src="images/civil.png" alt="" draggable="false"> </div>
					<h2 style="margin-bottom:0px; color: #ef662f; font-size:22px; font-weight: 900;">
						Civil Engineering
					</h2>
					<hr />
					<h5 style="margin-bottom:0px; font-size:15px; font-weight: 700;" class="fw-bold">
						<strong>B-Tech 1,2,3 Year:</strong>
					</h5>
					<p style="font-size:17px;" class="mt-1">
						Civil Engineering students can register here.
					</p>
				</li>
				<li class="card">
					<div class="img"><img src="images/mech.webp" alt="" draggable="false"> </div>
					<h2 style="margin-bottom:0px; color: #ef662f; font-size:22px; font-weight: 900;">Mechanical
						Engineering</h2>
					<hr />
					<h5 style="margin-bottom:0px; font-size:15px; font-weight: 700;" class="fw-bold">
						<strong>B-Tech 1,2,3 Year:</strong>
					</h5>
					<p style="font-size:17px;" class="mt-1">
						Mechanical students can register here.
					</p>
				</li>
				<li class="card">
					<div class="img"><img src="images/cs.jpg" alt="" draggable="false"> </div>
					<h2 style="margin-bottom:0px; color: #ef662f; font-size:22px; font-weight: 900;">CS - AI &amp; ML
					</h2>
					<hr />
					<h5 style="margin-bottom:0px; font-size:15px; font-weight: 700;" class="fw-bold">
						<strong>B-Tech 1,2,3 Year:</strong>
					</h5>
					<p style="font-size:17px;" class="mt-1">
						AI &amp; ML students can register here.
					</p>
				</li>
				<li class="card">
					<div class="img"><img src="images/cs2.png" alt="" draggable="false"> </div>
					<h2 style="margin-bottom:0px; color: #ef662f; font-size:22px; font-weight: 900;">Computer Science
						&amp; IT</h2>
					<hr />
					<h5 style="margin-bottom:0px; font-size:15px; font-weight: 700;" class="fw-bold">
						<strong>B-Tech 1,2,3 Year:</strong>
					</h5>
					<p style="font-size:17px;" class="mt-1">
						Computer Science /IT students can register here.
					</p>
				</li>
				<li class="card">
					<div class="img"><img src="images/cs3.png" alt="" draggable="false"> </div>
					<h2 style="margin-bottom:0px; color: #ef662f; font-size:22px; font-weight: 900;">CS - DS</h2>
					<hr />
					<h5 style="margin-bottom:0px; font-size:15px; font-weight: 700;" class="fw-bold">
						<strong>B-Tech 1,2,3 Year:</strong>
					</h5>
					<p style="font-size:17px;" class="mt-1">
						CS - DS students can register here.
					</p>
				</li>
				<li class="card">
					<div class="img"><img src="images/elec.webp" alt="" draggable="false"> </div>
					<h2 style="margin-bottom:0px; color: #ef662f; font-size:22px; font-weight: 900;">Electrical
						Instrumental</h2>
					<hr />
					<h5 style="margin-bottom:0px; font-size:15px; font-weight: 700;" class="fw-bold">
						<strong>B-Tech 1,2,3 Year:</strong>
					</h5>
					<p style="font-size:17px;" class="mt-1">
						Electrical Instrumental students can register here.
					</p>
				</li>
			</ul>
			<i id="right" class="fa-solid fas fa-angle-right"></i>
		</div>
		<!-- Slider ends -->

		<!-- Highlight start -->
		<div class="container-fluid bb"
			style="background-image: url('https://www.tantiauniversity.com/assets/images/upcoming.jpg'); ">
			<div class="row ">
				<div class="col-sm-1"></div>
				<div class="col-md-5" style=" padding:40px; color:black;">
					<h3 style="margin-bottom:-10px;  color:orangered" class="fw-bold">
						Internship Test Highlights
					</h3>
					<hr>
					<p style="font-size:20px; text-align:left">
						<img src="images/time.png" height="50px">&nbsp;&nbsp;<b style="font-weight:900;">Duration:</b>
						60 Minutes
					</p>
					<p style="font-size:20px; text-align:left">
						<img src="images/skills.png" height="50px">&nbsp;&nbsp;<b>Eligibility:</b> B-Tech Students
					</p>
					<p style="font-size:20px; text-align:left">
						<img src="images/language.png" height="50px">&nbsp;&nbsp;<b>Medium:</b> English
					</p>
					<p style="font-size:20px; text-align:left">
						<img src="images/mode.png" height="50px">&nbsp;&nbsp;<b>Mode:</b>
						Online
					</p>
					<p style="font-size:20px; text-align:left">
						<img src="images/platfom.png" height="50px">&nbsp;&nbsp;<b>Question Type:</b> MCQ
					</p>
				</div>
				<div class="col-md-6">
					<img src="images/quiz.png" height="520px" class="pw">
				</div>
			</div>
		</div>
		<!-- Highlight end -->

		<!-- Features start -->
		<div class="container mt-5" style="max-width: 92%">
			<div class="row mt-5 mb-5">
				<div class="col-sm-5 text-center w100 wp1">
					<img src="images/work.png" height="420px" style="margin-left: 110px;" class="pw1" alt="">
				</div>
				<div class="col-sm-7">
					<h2 style="margin-top: 60px; font-weight: 700; color:#ef662f">
						Our Internship Features</h2>
					<hr>
					<ol>
						<li>Technology Lectures by Softpro Experts having minimum 10 Year of Experience.</li>
						<li>
							Bonus Lectures by Experts from Industry like Google, IBM, Indiabulls, HCL, TCS, LMRC,
							Ansal, DLF, Pepsi Co, Oracle, Paypal, Mitsubishi, Amazon, Apple and more.
						</li>
						<li>
							30 Days Live Instructor Led Classroom / online Sessions daily, with 15 Days Extra
							grace time to access the account for recovery &amp; practice.
						</li>
						<li>
							E-Notes in form of E-Books, Presentations, Videos designed by Industry Experts with
							Self-Assessment Tools and daily evaluation.
							Class Recordings of each Live Class.
						</li>
						<li> Daily Tasks &amp; Assignments for more practice.</li>
						<li>Industry Endorsed Project to be developed by all Interns.</li>
						<li>
							Assistance in Placement &amp; Certificate of Internship by “Softpro India Computer
							Technologies (P) Limited”
						</li>
					</ol>
					<p>



					</p>
				</div>

			</div>
		</div>
		</div>

		<div class="container mt-5 px-5" style="max-width: 92%; padding: 50px; margin: 50px auto;">
			<div class="row">
				<h5><span class="fw-bold" style="color: #ef662f;">Internship Session </span> </h5>
				<hr>
				<h6 class="fw-bold">a.) Online / Offline Sessions:</h6>
				<p style="text-align:justify; font-size:17px; color: black; ">
					The internship will commence with intensive training sessions covering
					a wide array of topics including but not limited to:
					i. Programming languages such as Java, Python, PHP, C# etc.
					ii. Web development frameworks like Django, Spring, Laravel, AngularJS, React, etc.
					iii. Database management systems and data analytics tools.
					iv. Emerging technologies such as Artificial Intelligence, Machine Learning, Internet of Things,
					etc.
					v. Technologies like IoT, PLC SCADA, Embedded System, AutoCAD, Solidwork &amp; STAAD.PRO
				</p>
				<h6 class="fw-bold">b.) Project Work: </h6>
				<p style="text-align:justify; font-size:17px; color: black;">
					Following the training period, interns will be assigned to real-world projects under
					the guidance and mentorship of experienced professionals from Softpro India. This hands-on
					experience
					will enable students to apply theoretical concepts in practical scenarios, thereby honing their
					problem
					solving skills and enhancing their technical proficiency.
				</p>
				<h6 class="fw-bold">c.) Evaluation and Certification: </h6>
				<p style="text-align:justify; font-size:17px; color: black;">
					At the conclusion of the internship, students will undergo an
					assessment to evaluate their performance and proficiency gained during the program. Upon
					successful
					completion, participants will receive certificates acknowledging their accomplishments during
					the
					internship.
				</p>
				<h6 class="fw-bold">d.)Placement Opportunity:</h6>
				<p style="text-align:justify; font-size:17px; color: black;">
					Students who will do Internship from Softpro will also be offered
					Placement Opportunity in their final year.
					The Free Summer Internship Program by Softpro India presents a unique opportunity for your
					students
					to augment their academic learning with practical industry experience, thereby enhancing their
					employability and fostering their professional growth. We believe that this collaboration will
					be
					mutually beneficial for your esteemed institutions and Softpro India, and will pave the way for
					future
					partnerships aimed at nurturing talent and driving innovation in the field of technology.
					We earnestly request your support and cooperation in facilitating the implementation of this
					Free
					Internship program.
				</p>
			</div>
		</div>
		<!-- Features end -->

		<!-- Technology start-->
		<div class="container" style="max-width: 92%">
			<div class="row" data-aos="zoom-in">
				<div class="col-md-12 mt-4 col-md-offset">
					<div class="title-head centered">
						<h2 style=" color: #ef662f;" class="fw-bold text-center mt-3">Technologies Offered</h2>
						<hr>
					</div>
					<p style="text-align:justify;font-size:15px; color:black;" class="text-center">
						The internship will
						begin with thorough training sessions covering essential topics relevant to the role.
						Participants will gain a comprehensive understanding of technical skills, industry practices,
						and soft skills. Interactive workshops and practical exercises will prepare them to excel in
						their roles and contribute effectively to the organization.
					</p>
					<div class="row">
						<div class="col-md-6">

						</div>
					</div>
					<div class="row row-cols-1 row-cols-md-3 g-4 mt-2">
						<div class="col">
							<div class="card">
								<img src="images/datascience.png" class="card-img-top p-2" alt="...">

							</div>
						</div>
						<div class="col">
							<div class="card">
								<img src="images/ml.png" class="card-img-top p-2" alt="...">

							</div>
						</div>
						<div class="col">
							<div class="card">
								<img src="images/django.png" class="card-img-top p-2" alt="...">

							</div>
						</div>
					</div>
					<div class="row row-cols-1 row-cols-md-3 g-4 mt-2">
						<div class="col">
							<div class="card">
								<img src="images/java.png" class="card-img-top p-2" alt="...">

							</div>
						</div>
						<div class="col">
							<div class="card">
								<img src="images/net.png" class="card-img-top p-2" alt="...">

							</div>
						</div>
						<div class="col">
							<div class="card">
								<img src="images/php.png" class="card-img-top p-2" alt="...">

							</div>
						</div>
					</div>
					<div class="row row-cols-1 row-cols-md-3 g-4 mt-2">
						<div class="col">
							<div class="card">
								<img src="images/iot.png" class="card-img-top p-2" alt="...">

							</div>
						</div>
						<div class="col">
							<div class="card">
								<img src="images/embeded.png" class="card-img-top p-2" alt="...">

							</div>
						</div>
						<div class="col">
							<div class="card">
								<img src="images/pcb.png" class="card-img-top p-2" alt="...">

							</div>
						</div>
					</div>
					<div class="row row-cols-1 row-cols-md-3 g-4 mt-2">
						<div class="col">
							<div class="card">
								<img src="images/pcl.png" class="card-img-top p-2" alt="...">

							</div>
						</div>
						<div class="col">
							<div class="card">
								<img src="images/auto1.png" class="card-img-top p-2" alt="...">

							</div>
						</div>
						<div class="col">
							<div class="card">
								<img src="images/auto2.png" class="card-img-top p-2" alt="...">

							</div>
						</div>
					</div>

				</div>

			</div>

		</div>
		<!-- Technology end-->

		<!--training mode start-->
		<div class="container mt-5" style="margin-bottom: 50px; max-width: 92%; padding: 35px;">
			<div class="row">
				<div class="col-md-12 text-center mt-2 mb-4 fw-bold">
					<div class="title-head centered">
						<h2 class="fw-bold mb-2" style="color: #ef662f;">
							Training Locations</h2>
						<hr>
					</div>
				</div>
			</div>
			<div class="row d-flex" style="margin-bottom: -30px; margin: auto;">
				<div class="col-md-7 dd w100gg ms-5" style="background-color:darkorange;">
					<h4 class="my-auto p-2 text-center fw-bold  fw-bold">Lucknow Locations</h4>
				</div>
				<div class=" col-md-4 dd1 w100gg1 ms-5" style="background-color:darkorange;">
					<h4 class="my-auto p-2 text-center fw-bold nouda w100">Noida Location</h4>
				</div>
			</div>
			<div class="row">
				<div class="row row-cols-1 row-cols-md-3 g-4 ms-2">
					<div class="col-md-4 mx-auto">
						<div class="card">
							<img src="images/house1.jpg"
								style="width:100%; height: 245px; margin-bottom:-20px" class="card-img-top p-3"
								alt="...">
							<div class="card-body">
								<h5 class="card-title fw-bold"
									style="text-align:center; color:orangered; margin-bottom:-10px;">
									Softpro House
								</h5>
								<hr style="margin-bottom:8px;">
								<p class="card-text"
									style="font-size:15px; color:black; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
									3/213, Sector J, Jankipuram, Kursi Rd<br> Near
									Gudamba Thana, Lucknow
								</p>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="card">
							<img src="images/acdemy.jpg"
								style="width: 100%; height: 245px; margin-bottom:-20px; margin-top: 0px;"
								class="card-img-top p-3" alt="...">

							<div class="card-body text-center">
								<h5 class="card-title fw-bold"
									style="text-align: center; color: orangered; margin-bottom: -10px;">
									Softpro India Full
									Stack Academy
								</h5>
								<hr>
								<p class="card-text text-center"
									style="font-size:15px; margin-top:-10px; color:black; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
									Pushpi Tower ,Chinhat Tiraha, Vijayant Khand
									<br>
									Gomti Nagar, Lucknow
								</p>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="card">
							<img src="images/its.jpg"
								style="width:100%; height:245px; margin-bottom:-20px;" class="card-img-top p-3"
								alt="...">
							<div class="card-body">
								<h5 class="card-title fw-bold" style="color: orangered; margin-bottom: -10px;">
									Softpro Skill
									Development Center
								</h5>
								<hr>
								<p class="card-text"
									style="font-size:15px; margin-top:-10px; color:black; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
									I.T.S Campus, Knowledge Park III, Pari Chowk, Greater NOIDA
								</p>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
		<!--training mode ends-->
		
		<!--online training mode start-->
		<div class="container text-center lastone" style="max-width: 92%">
			<h2 class="fw-bold mb-1" style="color:orangered;">Online Training Mode</h2>
			<h3>POLYPREP, A Learning Management System By Softpro India</h3>
			<div class="row">
				<div class="col-sm-6">
					<img src="images/upcoming.png" style="height:350px; width:500px">
				</div>
				<div class="col-sm-6 my-auto p-4 lastest" style="margin-left:-30px; background-color:darkorange;">
					<h4 class="fw-bold">
						Online Training Division of Softpro LMS Polyprep
					</h4>
					<p>Enroll, Learn, Grow !!! Get ready to achieve your learning goals with Softpro by doing Online
						Summer Internship at Polyprep, An LMS by Softpro.</p>

				</div>
			</div>
		</div>
		<!--online training mode ends-->
		
		</div>
	</section>
</body>

</html>